@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous:regular");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Nunito";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #323232;
$primaryColor: #FFC839;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
  &__intro {}
  &__testimonials {
    @include adaptiv-value("padding-top", 75, 30, 1);
    @include adaptiv-value("padding-bottom", 75, 50, 1);
  }
  &__about {
    @include adaptiv-value("padding-top", 35, 30, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
  }
  &__phone {
    @include adaptiv-value("padding-top", 100, 30, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
  }
  &__houses {
    @include adaptiv-value("padding-bottom", 100, 50, 1);
  }
}
//===================================================================================================================================
.intro {
  display: flex;
  min-height: 100vh;
  background: url('../img/intro-bg.jpg') center / cover no-repeat;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);
  }
  &__container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    z-index: 2;
    padding: 100px 455px 100px 15px; 
    @media (max-width:$md2+px){
      padding-right: 15px; 
      text-align: center;
    }
  }
  &__title {
    @include adaptiv-value("font-size", 60, 30, 1);
    font-weight: 700;
    line-height: 82 / 60 * 100%;
    &:not(:last-child) {margin: 0px 0px 21px/60px * 1em 0px;}
  }
  &__text {
    @include adaptiv-value("font-size", 29, 18, 1);
    line-height: 40 / 29 * 100%;
  }
}
//============================================================================
.testimonials {
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px -11px;
  }
}
.item-testimonials {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
  padding: 0px 11px; 
  @media (max-width:$md3+px){
    flex: 0 1 50%; 
    margin: 0px 0px 22px 0px;
  }
  @media (max-width:$md4+px){
    flex: 1 1 auto; 
  }
  @media (any-hover: hover){
    &:hover{
      .item-testimonials__button {
        background: #fff url('../img/arrow.svg') center no-repeat;
      }
      .item-testimonials__body {
        background-color: $primaryColor;
        padding-left: 35px;
      }    
    }
  }
  &__image {
    padding: 0px 0px 414px/399px * 100% 0px;
  }
  &__body {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding: 24px;
    @include adaptiv-value("padding-top", 45, 24, 1);
    @include adaptiv-value("padding-bottom", 45, 24, 1);
    transition: all 0.3s ease 0s;
    box-shadow: 0px 4px 59px rgba(171, 124, 0, 0.29);
  }
  &__button {
    display: flex;
    flex: 0 0 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include adaptiv-value("margin-right", 25, 15, 1);
    background: $primaryColor url('../img/arrow.svg') center no-repeat;
    transition: background 0.3s ease 0s;
  }
  &__text {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    line-height: 19 / 14 * 100%;
  }
}
//============================================================================
.about {
  &__container {}
  &__body {
    display: flex;
    align-items: center;
  }
  &__content {
    flex: 1 1 auto;
    @media (min-width:$md3+px){
      padding: 0px 74px 0px 0px; 
    }
  }
  &__title {
    @include adaptiv-value("margin-bottom", 80, 40, 1);
  }
  &__items {
    display: flex;
    flex-direction: column;
  }
  &__image {
    flex: 0 0 425px/1240px * 100%;
    padding: 0px 0px 44.76% 0px;
    img{max-width: 100%;}
    position: relative;
    &::before{
      content:'';
      position: absolute;
      @include adaptiv-value("width", 74, 0, 1);
      @include adaptiv-value("height", 431, 0, 1);
      @include adaptiv-value("left", -74, 0, 1);
      top: 50%;
      transform: translate(0px,-50%);
      background-color: $primaryColor;
    }
    @media (max-width:$md3+px){
      display: none; 
    }
  }
}
.item-about {
  display: flex;
  align-items: center;
  &:not(:last-child) {margin: 0px 0px 50px 0px;}
  &__image {
    img {
      @include adaptiv-value("width", 90, 60, 1);
    }
    @include adaptiv-value("margin-right", 30, 15, 1);
  }
  &__content {}
  &__title {
    @include adaptiv-value("font-size", 29, 22, 1);
    line-height: 39 / 29 * 100%;
    color: #4A4A4A;
    margin: 0px 0px 20px/29px * 1em 0px;
  }
  &__text {
    @include adaptiv-value("font-size", 21, 18, 1);
    line-height: 29 / 21 * 100%;
  }
}
//============================================================================
.phone {
  &__container {
    @media (max-width:$md3+px){
      padding: 0; 
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFF5DA;
    padding: 127px 288px 104px 188px;
    @include adaptiv-value("padding-top", 127, 15, 1);
    @include adaptiv-value("padding-right", 288, 15, 1);
    @include adaptiv-value("padding-bottom", 104, 15, 1);
    @include adaptiv-value("padding-left", 199, 15, 1);
  }
  &__title {
    margin: 0px 0px 10px 0px;
  }
  &__text {
    color: #646464;
    @include adaptiv-value("font-size", 29, 18, 1);
    line-height: 39 / 29 * 100%;
    margin: 0px 0px 20px 0px;
  }
  &__form {
    display: flex;
    width: 100%;
  }
}
//============================================================================
.gallery {
  &__title {
    margin: 0px 0px 40px 0px;
  }
  &__items {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
  }
  &__item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    @media (any-hover: hover){
      img {
        transition: all 0.2s ease 0s;
        filter: grayscale(1);
      }
      &:hover{
        img {
          filter: grayscale(0);
        }
      }
    }
  }
  &__image {
    padding: 0px 0px 406px/293px * 100% 0px;
  }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
